@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
   font-family: 'montserrat', 'fraunces', serif;
   margin: 0;
   padding: 0;
   background-color: hsl(30, 38%, 92%);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

h1,
.actuel,
.attribution {
   font-family: "fraunces", Sans-Serif;
}

.name,
p,
button,
.normal {
   font-family: "Montserrat", serif;
}

.card {
   margin: 30px 15px;
   display: flex;
   flex-direction: column;
   background-color: hsl(0, 0%, 100%);
   border-radius: 10px;
   display: inline-block;
}

.image {
   width: 100%;
   overflow: hidden;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}

.info {
   padding: 25px;
}

.name {
   text-transform: uppercase;
   letter-spacing: 0.5em;
}

h1 {
   font-size: 2em;
   text-transform: capitalize;
   margin: 15px 0;
}

p {
   font-size: 14px;
   line-height: 1.7em;
}

.price {
   display: flex;
   align-items: center;
   gap: 20px;
   margin: 20px 0;
}

.actuel {
   color: hsl(158, 36%, 37%);
   font-size: 2em;
   font-weight: 700;
}

.normal {
   font-size: 14px;
}

button {
   display: flex;
   background-color: hsl(158, 36%, 37%);
   color: hsl(0, 0%, 100%);
   font-weight: 700;
   width: 100%;
   height: 4em;
   border: none;
   border-radius: 10px;
   align-items: center;
   justify-content: center;
}

.icone {
   font-size: 15px;
   margin-right: 10px;

}


button:active {
   background-color: hsl(158, 75%, 10%);
}
button:hover{
   background-color: hsl(158, 90%, 16%);
   cursor: pointer;
}






@media (min-width : 375px){
   body {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
   }

   .card {
      margin: auto;
      display: flex;
      width: 25%;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      min-width: 50%;
   }

   .produit .image {
      content: url("images/image-product-desktop.jpg");
      margin: 0;
      padding: 0;
      display: block;
      height: 100%;
      border-top-right-radius: 0;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
   }

}
